apiVersion: batch/v1
kind: CronJob
metadata:
  name: autoloader-{{FREQUENCY}}-cronjob
spec:
  schedule: {{CRON_SCHEDULE}}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          backoffLimit: 0
          containers:
          - name: busybox
            image: busybox
            args:
            - wget
            - http://annotation-service:$(AUTOLOADER_SERVICE_PORT_8080_TCP_PORT)/v1/load?period={{LOAD_PERIOD}}