apiVersion: batch/v1
kind: CronJob
metadata:
  name: autoloader-{{FREQUENCY}}-cronjob
spec:
  schedule: {{AUTOLOADER_CRON_SCHEDULE}}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: busybox
            image: busybox
            args:
            - wget
            - http://annotation-service:8080/v1/load?period={{LOAD_PERIOD}}